html {
    background: url(image url) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
header {
  text-align: center;
}
.navbar-brand {
  font-family: 'Satisfy', cursive;
}
h1 {
  font-family: 'Satisfy', cursive;
  font-size: 100px;
  letter-spacing: 3px;
  text-align: center;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -150px;
  position: absolute;
  top: 50%;
  width: 100%;
}
body {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("birdseyeview.jpg");
    background-size: cover;
    color: white;
  }
  .button {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px; /* width of button */
    height: 50px; /* height of button */
    background-color: rgba(49, 79, 88, 1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
    border-radius: 12px;
  }
  .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
