.border {
  position: relative;
}

.classone {
  position: relative;
  padding:none !important;
  margin:none !important;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 15px;
  right: 0;
  height: 100%;
  width: 350px;
  opacity: 0;
  transition: .5s ease;
  background-color: #4F808F;
}

.classone:hover .overlay {
  opacity: 10;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

h1 {
  color: white !important;
  font-family: 'Satisfy', cursive !important;
  font-size: 50px !important;
  letter-spacing: 3px !important;
}

body {
    background-color: rgba(49, 79, 88, 1);
  }

.jumbotron {
    background-color: rgba(49, 79, 88, 1);

  }
.navbar-brand {
    font-family: 'Satisfy', cursive;
}
